interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://castro.fm/podcast/f996ae94-70a2-4d9c-afbc-c70b5bacd120
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en\">\n    <head>\n        <meta charset=\"utf-8\">\n
        \       <meta http-equiv=\"x-ua-compatible\" content=\"ie=edge\">\n        <meta
        name=\"viewport\" content=\"width=device-width, user-scalable=no\">\n        <link
        rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"/railsassets/favicon_32x32-48ece8edd100548ce89d533f07345c52d8c445bdf9933aced2fb511455ca6105.png\">\n
        \       <link rel=\"icon\" type=\"image/png\" sizes=\"96x96\" href=\"/railsassets/favicon_96x96-b7361fe0b4687cc0297234eb6d7607aa5c699e8c22fc8ae19a98c6d32fa403d2.png\">\n\n
        \         <meta property=\"og:url\"          content=\"https://castro.fm/podcast/f996ae94-70a2-4d9c-afbc-c70b5bacd120\"
        />\n  <meta property=\"og:type\"         content=\"website\" />\n  <meta property=\"og:title\"
        \       content=\"Die Wochend\xE4mmerung - Der stabile Wochenr\xFCckblick\"
        />\n  <meta propert[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://itunes.apple.com/lookup?id=1287979850&media=podcast
  response:
    body:
      string: "\n\n\n{\n \"resultCount\":1,\n \"results\": [\n{\"wrapperType\":\"track\",
        \"kind\":\"podcast\", \"artistId\":1492524702, \"collectionId\":1287979850,
        \"trackId\":1287979850, \"artistName\":\"Katrin R\xF6nicke und Holger Klein
        (hauseins)\", \"collectionName\":\"Die Wochend\xE4mmerung - Der stabile Wochenr\xFCckblick\",
        \"trackName\":\"Die Wochend\xE4mmerung - Der stabile Wochenr\xFCckblick\",
        \"collectionCensoredName\":\"Die Wochend\xE4mmerung - Der stabile Wochenr\xFCckblick\",
        \"trackCensoredName\":\"Die Wochend\xE4mmerung - Der stabile Wochenr\xFCckblick\",
        \"artistViewUrl\":\"https://podcasts.apple.com/us/artist/hauseins/1492524702?uo=4\",
        \"collectionViewUrl\":\"https://podcasts.apple.com/us/podcast/die-wochend%C3%A4mmerung-der-stabile-wochenr%C3%BCckblick/id1287979850?uo=4\",
        \"feedUrl\":\"https://wochendaemmerung.podigee.io/feed/mp3\", \"trackViewUrl\":\"https://podcasts.apple.com/us/podcast/die-wochend%C3%A4mmerung-der-stabile-wochenr%C3%BCckblick/id1287979850?uo=4\",
        \"artworkUrl30\":\"https://is1-ssl.mzstatic.com/image/thumb/Podcasts114/v4/23/94/ea/2394ea5e-77d8-1527-e331-31f9a9fe9462/mza_18020857396163614866.jpg/30x30bb.jpg\",
        \"artworkUrl60\":\"https://is1-ssl.mzstatic.com/image/thumb/Podcasts114/v4/23/94/ea/2394ea5e-77d8-1527-e331-31f9a9fe9462/mza_18020857396163614866.jpg/60x60bb.jpg\",
        \"artworkUrl100\":\"https://is1-ssl.mzstatic.com/image/thumb/Podcasts114/v4/23/94/ea/2394ea5e-77d8-1527-e331-31f9a9fe9462/mza_18020857396163614866.jpg/100x100bb.jpg\",
        \"collectionPrice\":0.00, \"trackPrice\":0.00, \"collectionHdPrice\":0, \"releaseDate\":\"2024-12-27T11:00:00Z\",
        \"collectionExplicitness\":\"notExplicit\", \"trackExplicitness\":\"cleaned\",
        \"trackCount\":444, \"trackTimeMillis\":4576, \"country\":\"USA\", \"currency\":\"USD\",
        \"primaryGenreName\":\"Politics\", \"contentAdvisoryRating\":\"Clean\", \"artworkUrl600\":\"https://is1-ssl.mzstatic.com/image/thumb/Podcasts114/v4/23/94/ea/2394ea5e-77d8-1527-e331-31f9a9fe9462/mza_18020857396163614866.jpg/600x600bb.jpg\",
        \"genreIds\":[\"1527\", \"26\", \"1489\", \"1530\"], \"genres\":[\"Politics\",
        \"Podcasts\", \"News\", \"News Commentary\"]}]\n}\n\n\n"
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      X-Apple-Partner:
      - origin.0
      X-True-Cache-Key:
      - /L/itunes.apple.com/lookup vcd=2897 ci2=id=1287979850&media=podcast///
      apple-originating-system:
      - MZStoreServices
      apple-seq:
      - '0.0'
      apple-timing-app:
      - 12 ms
      apple-tk:
      - 'false'
      b3:
      - 5925d9c6eea24dea928d90c0c7383b17-7c94aeb22a289eb0
      content-disposition:
      - attachment; filename=1.txt
      x-apple-application-instance:
      - '6502648'
      x-apple-application-site:
      - MR22
      x-apple-jingle-correlation-key:
      - LES5TRXOUJG6VEUNSDAMOOB3C4
      x-apple-orig-url:
      - https://itunes.apple.com/lookup?id=1287979850&media=podcast
      x-apple-request-uuid:
      - 5925d9c6-eea2-4dea-928d-90c0c7383b17
      x-apple-translated-wo-url:
      - /WebObjects/MZStoreServices.woa/ws/wsLookup?id=1287979850&media=podcast&urlDesc=
      x-daiquiri-instance:
      - daiquiri:12282004:mr47p00it-qujn04120301:7987:24RELEASE242:daiquiri-amp-store-l7shared-ext-001-mr
      x-responding-instance:
      - 'MZStoreServices:6502648:::'
      x-webobjects-loadaverage:
      - '0'
    status:
      code: 200
      message: OK
version: 1
