interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://der-lautsprecher.de/
  response:
    body:
      string: "<!DOCTYPE html>\r\n<!--[if IE 6]>\r\n<html id=\"ie6\" lang=\"de\">\r\n<![endif]-->\r\n<!--[if
        IE 7]>\r\n<html id=\"ie7\" lang=\"de\">\r\n<![endif]-->\r\n<!--[if IE 8]>\r\n<html
        id=\"ie8\" lang=\"de\">\r\n<![endif]-->\r\n<!--[if !(IE 6) | !(IE 7) | !(IE
        8)  ]><!-->\r\n<html lang=\"de\">\r\n<!--<![endif]-->\r\n<head>\r\n<meta name=\"viewport\"
        content=\"width=device-width\">\r\n<meta charset=\"UTF-8\" />\r\n\r\n<title>Der
        Lautsprecher | Ein Podcast \xFCber das Senden und Empfangen werden</title>\r\n<link
        rel=\"profile\" href=\"http://gmpg.org/xfn/11\" />\r\n<link rel=\"stylesheet\"
        type=\"text/css\" media=\"all\" href=\"https://der-lautsprecher.de/wp-content/themes/metaebene/style.css\"
        />\r\n<link rel=\"pingback\" href=\"https://der-lautsprecher.de/xmlrpc.php\"
        />\r\n<!--[if lt IE 9]>\r\n<script src=\"https://der-lautsprecher.de/wp-content/themes/twentyeleven/js/html5.js\"
        type=\"text/javascript\"></script>\r\n<![endif]-->\r\n<meta name='robots'
        content='max-image-preview:large' />\n\t<style>img:is([sizes=\"auto\" i],
        [sizes^=\"auto,\" i]) { contain-intrinsic-size: 3000px 1500px }</style>\n\t<link
        rel='dns-prefetch' href='//der-lautsprecher.de' />\n<link rel='dns-prefetch'
        href='//cdn.podlove.org' />\n\n<link rel=\"alternate\" type=\"application/rss+xml\"
        title=\"Podcast Feed: Der Lautsprecher (MP3 Audio)\" href=\"https://der-lautsprecher.de/feed/mp3\"
        />\n<link rel=\"alternate\" type=\"application/rss+xml\" title=\"Podcast Feed:
        Der Lautsprecher (AAC Audio)\" href=\"https://der-lautsprecher.de/feed/m4a\"
        />\n<link rel=\"alternate\" type=\"application/rss+xml\" title=\"Podcast Feed:
        Der Lautsprecher (Ogg Vorbis Audio)\" href=\"https://der-lautsprecher.de/feed/oga\"
        />\n<link rel=\"alternate\" type=\"application/rss+xml\" title=\"Podcast Feed:
        Der Lautsprecher (Ogg Opus Audio)\" href=\"https://der-lautsprecher.de/feed/opus\"
        />\n<script type=\"text/javascript\">\n/* <![CDATA[ */\nwindow._wpemojiSettings
        = {\"baseUrl\":\"https:\\/\\/s.w.org\\/images\\/core\\/emoji\\/15.0.3\\/72x72\\/\",\"ext\":\".png\",\"svgUrl\":\"https:\\/\\/s.w.org\\/images\\/core\\/emoji\\/15.0.3\\/svg\\/\",\"svgExt\":\".svg\",\"source\":{\"concatemoji\":\"https:\\/\\/der-lautsprecher.de\\/wp-includes\\/js\\/wp-emoji-release.min.js?ver=6.7.1\"}};\n/*!
        This file is auto-generated */\n!function(i,n){var o,s,e;function c(e){try{var
        t={supportTests:e,timestamp:(new Date).valueOf()};sessionStorage.setItem(o,JSON.stringify(t))}catch(e){}}function
        p(e,t,n){e.clearRect(0,0,e.canvas.width,e.canvas.height),e.fillText(t,0,0);var
        t=new Uint32Array(e.getImageData(0,0,e.canvas.width,e.canvas.height).data),r=(e.clearRect(0,0,e.canvas.width,e.canvas.height),e.fillText(n,0,0),new
        Uint32Array(e.getImageData(0,0,e.canvas.width,e.canvas.height).data));return
        t.every(function(e,t){return e===r[t]})}function u(e,t,n){switch(t){case\"flag\":return
        n(e,\"\\ud83c\\udff3\\ufe0f\\u200d\\u26a7\\ufe0f\",\"\\ud83c\\udff3\\ufe0f\\u200b\\u26a7\\ufe0f\")?!1:!n(e,\"\\ud83c\\uddfa\\ud83c\\uddf3\",\"\\ud83c\\uddfa\\u200b\\ud83c\\uddf3\")&&!n(e,\"\\ud83c\\udff4\\udb40\\udc67\\udb40\\udc62\\udb40\\udc65\\udb40\\udc6e\\udb40\\udc67\\udb40\\udc7f\",\"\\ud83c\\udff4\\u200b\\udb40\\udc67\\u200b\\udb40\\udc62\\u200b\\udb40\\udc65\\u200b\\udb40\\udc6e\\u200b\\udb40\\udc67\\u200b\\udb40\\udc7f\");case\"emoji\":return!n(e,\"\\ud83d\\udc26\\u200d\\u2b1b\",\"\\ud83d\\udc26\\u200b\\u2b1b\")}return!1}function
        f(e,t,n){var r=\"undefined\"!=typeof WorkerGlobalScope&&self instanceof WorkerGlobalScope?new
        OffscreenCanvas(300,150):i.createElement(\"canvas\"),a=r.getContext(\"2d\",{willReadFrequently:!0}),o=(a.textBaseline=\"top\",a.font=\"600
        32px Arial\",{});return e.forEach(function(e){o[e]=t(a,e,n)}),o}function t(e){var
        t=i.createElement(\"script\");t.src=e,t.defer=!0,i.head.a[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://der-lautsprecher.de/feed/mp3
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/rss+xml; charset=UTF-8
      ETag:
      - '"5f03a69202d11d8dbe191efd2527430a"'
      Last-Modified:
      - Tue, 31 Aug 2021 13:55:27 GMT
      Link:
      - <https://der-lautsprecher.de/wp-json/>; rel="https://api.w.org/"
      Location:
      - https://feeds.metaebene.me/lautsprecher/mp3
      X-Dedicated-To:
      - The Prettiest One
    status:
      code: 307
      message: Temporary Redirect
- request:
    body: null
    headers:
    method: GET
    uri: https://feeds.metaebene.me/lautsprecher/mp3
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<rss xmlns:atom=\"http://www.w3.org/2005/Atom\"
        xmlns:itunes=\"http://www.itunes.com/dtds/podcast-1.0.dtd\" xmlns:psc=\"http://podlove.org/simple-chapters\"
        xmlns:content=\"http://purl.org/rss/1.0/modules/content/\" xmlns:fh=\"http://purl.org/syndication/history/1.0\"
        xmlns:podcast=\"https://podcastindex.org/namespace/1.0\" xmlns:feedpress=\"https://feed.press/xmlns\"
        xmlns:media=\"http://search.yahoo.com/mrss/\" version=\"2.0\">\n  <channel>\n
        \   <feedpress:locale>en</feedpress:locale>\n    <title>Der Lautsprecher</title>\n
        \   <link>https://der-lautsprecher.de</link>\n    <description><![CDATA[Ein
        Podcast \xFCber das Senden und Empfangen werden]]></description>\n    <lastBuildDate>Tue,
        31 Aug 2021 13:55:27 +0000</lastBuildDate>\n    <image>\n      <url>https://media.metaebene.me/media/lautsprecher/der-lautsprecher-logo-1500x1500.jpg</url>\n
        \     <title>Der Lautsprecher</title>\n      <link>https://der-lautsprecher.de</link>\n
        \   </image>\n    <atom:link rel=\"self\" type=\"application/rss+xml\" title=\"Der
        Lautsprecher (MP3 Audio)\" href=\"https://feeds.metaebene.me/lautsprecher/mp3\"/>\n
        \   <atom:link rel=\"alternate\" type=\"application/rss+xml\" title=\"Der
        Lautsprecher (AAC Audio)\" href=\"https://der-lautsprecher.de/feed/m4a\"/>\n
        \   <atom:link rel=\"alternate\" type=\"application/rss+xml\" title=\"Der
        Lautsprecher (Ogg Vorbis Audio)\" href=\"https://der-lautsprecher.de/feed/oga\"/>\n
        \   <atom:link rel=\"alternate\" type=\"application/rss+xml\" title=\"Der
        Lautsprecher (Ogg Opus Audio)\" href=\"https://der-lautsprecher.de/feed/opus\"/>\n
        \   <atom:link rel=\"first\" href=\"https://der-lautsprecher.de/feed/mp3\"/>\n
        \   <language>de-DE</language>\n    <atom:link rel=\"hub\" href=\"http://metaebene.superfeedr.com\"/>\n
        \   <fyyd:verify xmlns:fyyd=\"https://fyyd.de/fyyd-ns/\">8bks1uqxowujnm3g6gy5n6ofkmilf8wd1o8vP</fyyd:verify>\n
        \   <atom:contributor>\n      <atom:name>Tim Pritlove</atom:name>\n      <atom:uri>http://tim.pritlove.org/</atom:uri>\n
        \   </atom:contributor>\n    <podcast:person img=\"https://der-lautsprecher.de/files/2022/01/Tim-Avatar-2020-300x300.jpeg\">Tim
        Pritlove</podcast:person>\n    <generator>Podlove Podcast Publisher v4.1.25</generator>\n
        \   <copyright>Metaebene Personal Media</copyright>\n    <itunes:author>Metaebene
        Personal Media</itunes:author>\n    <itunes:type>episodic</itunes:type>\n
        \   <itunes:summary><![CDATA[Der Lautsprecher ist ein Forum f\xFCr Podcaster
        und solche, die es vielleicht werden wollen. Tim Pritlove spricht mit ausgew\xE4hlten
        G\xE4sten \xFCber Technik, Kultur und Methoden des Podcastings.]]></itunes:summary>\n
        \   <itunes:category text=\"Technology\"/>\n    <itunes:owner>\n      <itunes:name>Tim
        Pritlove</itunes:name>\n      <itunes:email>tim@metaebene.me</itunes:email>\n
        \   </itunes:owner>\n    <itunes:image href=\"https://media.metaebene.me/media/lautsprecher/der-lautsprecher-logo-1500x1500.jpg\"/>\n
        \   <itunes:subtitle>Ein Podcast \xFCber das Senden und Empfangen werden</itunes:subtitle>\n
        \   <itunes:block>no</itunes:block>\n    <itunes:explicit>false</itunes:explicit>\n
        \   <podcast:funding url=\"https://metaebene.me/spenden\">Spenden f\xFCr die
        Metaebene</podcast:funding>\n    <podcast:license url=\"http://creativecommons.org/licenses/by/3.0/de/\">cc-by-3.0-de</podcast:license>\n
        \   <item>\n      <title>LS019 hr2 der Tag - ein Gespr\xE4ch mit Florian Schwinn</title>\n
        \     <link>https://der-lautsprecher.de/ls019-hr2-der-tag-ein-gespraech-mit-florian-schwinn</link>\n
        \     <pubDate>Tue, 02 Apr 2019 16:03:22 +0000</pubDate>\n      <guid isPermaLink=\"false\">podlove-2019-04-02t13:22:40+00:00-827d6a227051dd9</guid>\n
        \     <description><![CDATA[Auf der diesj\xE4hrigen SUBSCRIBE 10, die vom
        22. bis 24. M\xE4rz in K\xF6ln in den R\xE4umen des Deutschlandfunks stattfand,
        fand ich mich auf der B\xFChne mit Florian Schwinn zusammen. Florian Schwinn
        ist Moderator und Redakteur der Sendung \"hr2 der Tag\" des Hessischen Rundfunks
        und dort schon seit fast 40 Jahren aktiv. Wir sprechen \xFCber die Art und
        Weise, wie diese Radiosendung t\xE4glich entsteht, \xFCber die redaktionelle
        Arbeit und den Umgang mit Politik und Politikern. Als Beitrag zum Lautsprecher
        erschien mir diese Sendung gut geeignet zu sein.]]></description>\n      <atom:link
        rel=\"http://podlove.org/deep-link\" href=\"https://der-lautsprecher.de/ls019-hr2-der-tag-ein-gespraech-mit-florian-schwinn#\"/>\n
        \     <enclosure url=\"https://der-lautsprecher.de/podlove/file/404/s/feed/c/mp3/ls019-hr2-der-tag-ein-gespraech-mit-florian-schwinn.mp3\"
        length=\"34810319\" type=\"audio/mpeg\"/>\n      <itunes:duration>00:57:33</itunes:duration>\n
        \     <itunes:author>Metaebene Personal Media</itunes:author>\n      <itunes:subtitle>\xDCber
        Radio, Podcasts und bullshitfreie Zonen</itunes:subtitle>\n      <itunes:episode>19</itunes:episode>\n
        \     <itunes:episodeType>full</itunes:episodeType>\n      <itunes:summary><![CDATA[Auf
        der diesj\xE4hrigen SUBSCRIBE 10, die vom 22. bis 24. M\xE4rz in K\xF6ln in
        den R\xE4umen des Deutschlandfunks stattfand, fand ich mich auf der B\xFChne
        mit Florian Schwinn zusammen. Florian Schwinn ist Moderator und Redakteur
        der Sendung &quot;hr2 der Tag&quot; des Hessischen Rundfunks und dort schon
        seit fast 40 Jahren aktiv. Wir sprechen \xFCber die Art und Weise, wie diese
        Radiosendung t\xE4glich entsteht, \xFCber die redaktionelle Arbeit und den
        Umgang mit Politik und Politikern. Als Beitrag zum Lautsprecher erschien mir
        diese Sendung gut geeignet zu sein.]]></itunes:summary>\n      <content:encoded><![CDATA[<p></p><strong><em>
        \xDCber Radio, Podcasts und bullshitfreie Zonen</em></strong></p>\n\nAuf der
        diesj\xE4hrigen SUBSCRIBE 10, die vom 22. bis 24. M\xE4rz in K\xF6ln in den
        R\xE4umen des Deutschlandfunks stattfand, fand ich mich auf der B\xFChne mit
        Florian Schwinn zusammen. Florian Schwinn ist Moderator und Redakteur der
        Sendung \"hr2 der Tag\" des Hessischen Rundfunks und dort schon seit fast
        40 Jahren aktiv. Wir sprechen \xFCber die Art und Weise, wie diese Radiosendung
        t\xE4glich entsteht, \xFCber die redaktionelle Arbeit und den Umgang mit Politik
        und Politikern. Als Beitrag zum Lautsprecher erschien mir diese Sendung gut
        geeignet zu sein.\n\n\n\n\n<ul>\n<li>\n<strong>Tim Pritlove</strong>\n<ul>\n<li>\n<a
        href=\"https://twitter.com/timpritlove\">Twitter</a>\n</li>\n<li>\n<a href=\"http://metaebene.me\">Website</a>\n</li>\n<li>\n<a
        href=\"https://paypal.me/timpritlove\">Paypal.me</a>\n</li>\n<li>\n<a href=\"http://amzn.to/2qHn6hS\">Amazon
        Wishlist</a>\n</li>\n</ul>\n</li>\n<li>\n<strong>Florian Schwinn</strong>\n<ul>\n<li>\n<a
        href=\"https://twitter.com/Journaille\">Twitter</a>\n</li>\n</ul>\n</li>\n</ul>\n\n\n\n[shownotes
        id=\"lg\"]\n\n\n]]></content:encoded>\n      <psc:chapters xmlns:psc=\"http://podlove.org/simple-chapters\"
        version=\"1.2\">\n        <psc:chapter start=\"00:00:00.000\" title=\"Vorrede\"/>\n
        \       <psc:chapter start=\"00:02:36.949\" title=\"Begr\xFC\xDFung\"/>\n
        \       <psc:chapter start=\"00:03:48.940\" title=\"Informationsdienst zur
        Verbreitung unterbliebener Nachrichten\"/>\n        <psc:chapter start=\"00:06:50.406\"
        title=\"Spontis und Radio Solidarno\u015B\u0107\"/>\n        <psc:chapter
        start=\"00:12:02.243\" title=\"Einstieg beim Hessischen Rundfunk\"/>\n        <psc:chapter
        start[...]
