interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://overcast.fm/+AAyIOzrEy1g
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\" class=\"controller_podcasts\">\n
        \   <head>\n        <title>The Real Book &mdash; 99% Invisible &mdash; Overcast</title>\n
        \               <link rel=\"canonical\" href=\"https://www.stitcher.com/\"
        />        <meta name=\"robots\" content=\"noindex\"/>        <meta name=\"apple-itunes-app\"
        content=\"app-id=888422857, app-argument=overcast:///3527487690951512\"/>
        \       <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0,
        maximum-scale=1.0\"/>\n        <link rel=\"apple-touch-icon\" sizes=\"152x152\"
        href=\"/apple-touch-icon.png\"/>\n        <link rel=\"mask-icon\" href=\"/img/logo-black.svg\"
        color=\"#fc7e0f\"/>\n        <link rel=\"icon\" href=\"/favicon.ico\"/>\n
        \       <link rel=\"me\" href=\"https://mastodon.social/@overcastfm\" />\n
        \       <style type=\"text/css\" nonce=\"ARe19Nx+oGzdY+afzBKdNA==\"><!--\n/*!\nPure
        v0.5.0\nCopyright 2014 Yahoo! Inc. All rights reserved.\nLicensed under the
        BSD License.\nhttps://github.com/yui/pure/blob/master/LICENSE.md\n*/\n/*!\nnormalize.css
        v1.1.3 | MIT License | git.io/normalize\nCopyright (c) Nicolas Gallagher and
        Jonathan Neal\n*/\n/*! normalize.css v1.1.3 | MIT License | git.io/normalize
        */article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://itunes.apple.com/lookup?id=394775318&media=podcast
  response:
    body:
      string: "\n\n\n{\n \"resultCount\":1,\n \"results\": [\n{\"wrapperType\":\"track\",
        \"kind\":\"podcast\", \"collectionId\":394775318, \"trackId\":394775318, \"artistName\":\"Roman
        Mars\", \"collectionName\":\"99% Invisible\", \"trackName\":\"99% Invisible\",
        \"collectionCensoredName\":\"99% Invisible\", \"trackCensoredName\":\"99%
        Invisible\", \"collectionViewUrl\":\"https://podcasts.apple.com/us/podcast/99-invisible/id394775318?uo=4\",
        \"feedUrl\":\"https://feeds.simplecast.com/BqbsxVfO\", \"trackViewUrl\":\"https://podcasts.apple.com/us/podcast/99-invisible/id394775318?uo=4\",
        \"artworkUrl30\":\"https://is1-ssl.mzstatic.com/image/thumb/Podcasts221/v4/38/31/3a/38313a2e-6646-c890-1455-f995e17ee852/mza_5297003633662055505.jpg/30x30bb.jpg\",
        \"artworkUrl60\":\"https://is1-ssl.mzstatic.com/image/thumb/Podcasts221/v4/38/31/3a/38313a2e-6646-c890-1455-f995e17ee852/mza_5297003633662055505.jpg/60x60bb.jpg\",
        \"artworkUrl100\":\"https://is1-ssl.mzstatic.com/image/thumb/Podcasts221/v4/38/31/3a/38313a2e-6646-c890-1455-f995e17ee852/mza_5297003633662055505.jpg/100x100bb.jpg\",
        \"collectionPrice\":0.00, \"trackPrice\":0.00, \"collectionHdPrice\":0, \"releaseDate\":\"2024-12-31T15:58:00Z\",
        \"collectionExplicitness\":\"notExplicit\", \"trackExplicitness\":\"cleaned\",
        \"trackCount\":704, \"trackTimeMillis\":1580, \"country\":\"USA\", \"currency\":\"USD\",
        \"primaryGenreName\":\"Design\", \"contentAdvisoryRating\":\"Clean\", \"artworkUrl600\":\"https://is1-ssl.mzstatic.com/image/thumb/Podcasts221/v4/38/31/3a/38313a2e-6646-c890-1455-f995e17ee852/mza_5297003633662055505.jpg/600x600bb.jpg\",
        \"genreIds\":[\"1402\", \"26\", \"1301\"], \"genres\":[\"Design\", \"Podcasts\",
        \"Arts\"]}]\n}\n\n\n"
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      X-Apple-Partner:
      - origin.0
      X-True-Cache-Key:
      - /L/itunes.apple.com/lookup vcd=2897 ci2=id=394775318&media=podcast///
      apple-originating-system:
      - MZStoreServices
      apple-seq:
      - '0.0'
      apple-timing-app:
      - 11 ms
      apple-tk:
      - 'false'
      b3:
      - 1474676924129b1309f8c573bb8ccdf3-de5a9c68abb797b4
      content-disposition:
      - attachment; filename=1.txt
      x-apple-application-instance:
      - '6502570'
      x-apple-application-site:
      - MR22
      x-apple-jingle-correlation-key:
      - CR2GO2JECKNRGCPYYVZ3XDGN6M
      x-apple-orig-url:
      - https://itunes.apple.com/lookup?id=394775318&media=podcast
      x-apple-request-uuid:
      - 14746769-2412-9b13-09f8-c573bb8ccdf3
      x-apple-translated-wo-url:
      - /WebObjects/MZStoreServices.woa/ws/wsLookup?id=394775318&media=podcast&urlDesc=
      x-daiquiri-instance:
      - daiquiri:12282001:mr47p00it-qujn06080702:7987:24RELEASE242:daiquiri-amp-store-l7shared-ext-001-mr
      x-responding-instance:
      - 'MZStoreServices:6502570:::'
      x-webobjects-loadaverage:
      - '0'
    status:
      code: 200
      message: OK
version: 1
