interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://itunes.apple.com/lookup?id=1687250293&media=podcast
  response:
    body:
      string: "\n\n\n{\n \"resultCount\":1,\n \"results\": [\n{\"wrapperType\":\"track\",
        \"kind\":\"podcast\", \"collectionId\":1687250293, \"trackId\":1687250293,
        \"artistName\":\"Letty & hukl\", \"collectionName\":\"Glitterbrains\", \"trackName\":\"Glitterbrains\",
        \"collectionCensoredName\":\"Glitterbrains\", \"trackCensoredName\":\"Glitterbrains\",
        \"collectionViewUrl\":\"https://podcasts.apple.com/us/podcast/glitterbrains/id1687250293?uo=4\",
        \"feedUrl\":\"https://glitterbrains.org/feed/mp3/\", \"trackViewUrl\":\"https://podcasts.apple.com/us/podcast/glitterbrains/id1687250293?uo=4\",
        \"artworkUrl30\":\"https://is1-ssl.mzstatic.com/image/thumb/Podcasts116/v4/02/56/3f/02563f62-4e75-e896-c41b-27430a08e464/mza_8123971410121446869.jpg/30x30bb.jpg\",
        \"artworkUrl60\":\"https://is1-ssl.mzstatic.com/image/thumb/Podcasts116/v4/02/56/3f/02563f62-4e75-e896-c41b-27430a08e464/mza_8123971410121446869.jpg/60x60bb.jpg\",
        \"artworkUrl100\":\"https://is1-ssl.mzstatic.com/image/thumb/Podcasts116/v4/02/56/3f/02563f62-4e75-e896-c41b-27430a08e464/mza_8123971410121446869.jpg/100x100bb.jpg\",
        \"collectionPrice\":0.00, \"trackPrice\":0.00, \"collectionHdPrice\":0, \"releaseDate\":\"2024-11-08T18:02:00Z\",
        \"collectionExplicitness\":\"notExplicit\", \"trackExplicitness\":\"cleaned\",
        \"trackCount\":23, \"trackTimeMillis\":8020, \"country\":\"USA\", \"currency\":\"USD\",
        \"primaryGenreName\":\"Technology\", \"contentAdvisoryRating\":\"Clean\",
        \"artworkUrl600\":\"https://is1-ssl.mzstatic.com/image/thumb/Podcasts116/v4/02/56/3f/02563f62-4e75-e896-c41b-27430a08e464/mza_8123971410121446869.jpg/600x600bb.jpg\",
        \"genreIds\":[\"1318\", \"26\"], \"genres\":[\"Technology\", \"Podcasts\"]}]\n}\n\n\n"
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      X-Apple-Partner:
      - origin.0
      X-True-Cache-Key:
      - /L/itunes.apple.com/lookup vcd=2897 ci2=id=1687250293&media=podcast///
      apple-originating-system:
      - MZStoreServices
      apple-seq:
      - '0.0'
      apple-timing-app:
      - 7 ms
      apple-tk:
      - 'false'
      b3:
      - 9b228d20fd28aadba6ae48dc19fcf97c-679fc496d4f05313
      content-disposition:
      - attachment; filename=1.txt
      x-apple-application-instance:
      - '6501205'
      x-apple-application-site:
      - MR22
      x-apple-jingle-correlation-key:
      - TMRI2IH5FCVNXJVOJDOBT7HZPQ
      x-apple-orig-url:
      - https://itunes.apple.com/lookup?id=1687250293&media=podcast
      x-apple-request-uuid:
      - 9b228d20-fd28-aadb-a6ae-48dc19fcf97c
      x-apple-translated-wo-url:
      - /WebObjects/MZStoreServices.woa/ws/wsLookup?id=1687250293&media=podcast&urlDesc=
      x-daiquiri-instance:
      - daiquiri:12282005:mr47p00it-qujn02122302:7987:24RELEASE242:daiquiri-amp-store-l7shared-ext-001-mr
      x-responding-instance:
      - 'MZStoreServices:6501205:::'
      x-webobjects-loadaverage:
      - '0'
    status:
      code: 200
      message: OK
version: 1
